<div class="d-flex h-100 text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main class="px-3">
            <h1>Rebudget Calculator</h1>
            <p class="lead">Welcome to our revolutionary rebudget experience! At Rebudget, we believe that taking
                control of your financial future starts with understanding your current income and expenses. Our unique
                platform empowers you to make informed decisions by providing personalized estimates of your future
                savings. By analyzing your current income and average expenses, we offer you a comprehensive outlook on
                how your financial choices today can impact your savings tomorrow. Whether you're looking to save for a
                dream vacation, a down payment on a house, or simply want to improve your financial well-being, our
                rebudget experience equips you with the knowledge and tools to confidently plan for a brighter tomorrow.
                Take the first step towards financial freedom and embark on your rebudget journey with us today!</p>

            <div class="row justify-content-center">
                <p>Enter your salary</p>
                <form class="col-lg-auto mb-3 mb-lg-0">
                    <div class="input-group">
                        <div class="input-group-text bg-dark text-white">$</div>
                        <input type="search" class="form-control form-control-dark" placeholder="Enter your salary"
                            aria-label="salary" appTwoDecimalPlaceNumber>
                    </div>

                    <div class="mt-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1">
                            <label class="form-check-label" for="inlineRadio1">Hourly</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">Salary</label>
                        </div>
                    </div>





                </form>
            </div>


        </main>
    </div>
</div>